* ::before, ::after{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

html {
    font-size: 62.5%;
}

body {
    background-color: royalblue;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(90deg, rgba(96,6,250,0.8) 0%, rgba(67, 64, 255, 0.8) 100%);
    height: 50px;
    min-width: 100vw;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 0.3rem;
}

nav ul li a:hover {
    color: green;
}

nav1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(90deg, rgba(96,6,250,0.8) 0%, rgba(67, 64, 255, 0.8) 100%);
    height: 50px;
    min-width: 100vw;
}

nav1 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav1 ul li {
    margin-left: 1rem;
}

nav1 ul li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 0.3rem;
}
nav1 ul li a:hover {
    color: green;
}

nav div {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url('https://picsum.photos/200/300?random=233');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-image: url('https://picsum.photos/200/300?random=2');
    background-size: cover;
    background-position: center;
}

.hero h1 {
    font-size: 7rem;
    color: white;
}

.hero h1 span {
    color: green;
    font-family: 'Courier New', Courier, monospace;
}

.icons {
    display: flex;
    justify-content: space-around;
    
}

.icone {
    margin: 2rem;
    width : 50px;
    height : 50px;
    
}

.social-icons {
  display: flex;
    justify-content: space-around;
    margin-top: 10px
  }
  
  